---
title: BiomarkerBase Accademic Access Program
---
<section class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Academic Access</h1>
                    <p class="intro-text">
                    	What is the BiomarkerBase™ Academic Access Program?
                    </p>
                    <p class="muted">
                        Amplion is pleased to support biomedical education and research by providing free, unlimited access to BiomarkerBase™ for any qualified users at Amplion-certified research institutions worldwide.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="who" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Who?</h2>
            <p>Who is the BiomarkerBase™ Academic Access Program for?</p>
            <p>The program supports educational and research efforts aimed at improving patient treatment, through improved novelty and effectiveness of diagnostic tests and targeted therapies.  Qualified users are full-time professors, post-docs, graduate and undergraduate students at research institutions certified by Amplion.</p>
        </div>
    </div>
</section>

<section id="institutions" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Institutions</h2>
            <p>How do institutions get involved?</p>
            <p>Any faculty member or student can apply for Amplion certification by sending us a direct note to <a href="mailto:support@amplion.com">support@amplion.com</a>.  Once certified, qualified users at your institution can contact us with their institutional email address to be granted access to BiomarkerBase™.</p>
            <div class="page-scroll">
              <a href="#certified_institutions" class="btn btn-primary btn-lg">Certified Institutions</a>
            </div>
        </div>
    </div>
</section>

<section id="access" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Access</h2>
            <p>How do I request access through my institution?</p>
            <p>If your institution is certified you can request access by sending an email to <a href="mailto:support@amplion.com">support@amplion.com</a> with your official institutional email address.   You can find your institution’s status with Amplion on our Academic Access certified institution page.</p>
            <div class="page-scroll">
              <a href="#certified_institutions" class="btn btn-primary btn-lg">Certified Institutions</a>
            </div>
        </div>
    </div>
</section>

<section id="biomarkerbase" class="container content-section text-center">
    <div class="biomarkerbase">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>BiomarkerBase</h2>
            <p>What is BiomarkerBase™?</p>
            <p>BiomarkerBase™ is a manually curated database of clinical biomarkers that includes every biomarker in an FDA-approved test or drug label, and thousands of biomarkers being utilized and developed in clinical trials.</p>
            <p class="intro-text">
              <a href="https://biomarkerbase.com" class="btn btn-lg btn-success">
                Learn More
              </a>
            </p>
        </div>
    </div>
</section>

<section id="certified_institutions" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Certified Institutions</h2>
            <p>What institutions are certified by Amplion?</p>
            <iframe src="https://docs.google.com/spreadsheets/d/1dAhGiqxKkr6LDrxlVAXvvS1XTD2NcjA4B83HqhU7_jc/pubhtml?gid=1728799242&single=true" width="385" height="875"></iframe>
        </div>
    </div>
</section>