---
title: Amplion Research
---
<section class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Amplion</h1>
                    <p class="intro-text">
                        We make <a href="https://biomarkerbase.com">BiomarkerBase</a>, the Clinical Biomarker Database, which allows you to maintain strategic awareness of the complete clinical biomarker landscape.
                    </p>
                    <p class="intro-text">
                        <a href="https://biomarkerbase.com" class="btn btn-lg btn-success">
                            Learn More
                        </a>
                    </p>
                    <div class="page-scroll">
                        <a href="#about" class="btn btn-circle">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Amplion</h2>
            <p>We inform strategic decisions involving the commercial use of molecular biomarkers.</p>
            <p>We publish <a href="https://biomarkerbase.com">BiomarkerBase</a>, The Clinical Biomarker Database, which includes every validated biomarker in clinical use, and over 1,500 biomarkers in clinical trials.</p>
            <p>We also publish a free report:<br /><a href="https://biomarkerbase.com/report">Commercial Trends for Biomarker-Based IVD Tests (2003-2012)</a></p>
        </div>
    </div>
</section>

<section id="blog" class="content-section text-center">
    <div class="blog-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Biomarker Trends</h2>
                <p>Our blog, Biomarker Trends, provides detailed analysis of trends involving the development, marketing, regulation, and adoption of biomarker-based tests.</p>
                <a href="http://www.biomarker-trends.com" class="btn btn-primary btn-lg">Visit Blog</a>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact</h2>
            <div itemscope itemtype="http://schema.org/LocalBusiness">
                <h3 itemprop="name">Amplion Research</h3>

                <a href="http://maps.apple.com?daddr=1011+SW+Emkay+Dr,+Bend,+OR">
                    <address itemscope itemprop="address" itemtype="http://schema.org/PostalAddress">
                        <span itemprop="streetAddress">
                            1011 SW Emkay Drive
                            Suite 200
                        </span><br>
                        <span itemprop="addressLocality">Bend</span>,
                        <span itemprop="addressRegion">OR</span>
                        <span itemprop="postalCode">97702</span>
                        <span itemprop="addressCountry">USA</span>
                    </address>
                </a>

                <p>
                    <span itemprop="telephone">
                        <a href="tel:+14582064788">+1.458.206.4788</a>
                    </span><br>

                    <span itemprop="email">
                        <a href="mailto:support@amplion.com">support@amplion.com</a>
                    </span>
                </p>

                <p>
                    <time itemprop="openingHours" datetime="Mo-Fr 08:00-17:00">
                        Monday - Friday<br>
                        8:00 AM to 5:00 PM Pacific
                    </time>
                </p>
            </div>

            <ul class="list-inline banner-social-buttons">
                <li><a href="https://twitter.com/amplion" class="btn btn-primary btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li><a href="https://github.com/amplion" class="btn btn-primary btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li><a href="https://www.linkedin.com/company/amplion-research" class="btn btn-primary btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>
